{% extends 'base.html' %}
{% load static %}

{% block title %}Chatbot{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/chatbot.css' %}">
{% endblock %}


{% block content %}
    <h1 class="text-center mb-4">Voice Streaming Demo</h1>
    <div class="d-flex justify-content-center mb-4">
        <button id="start" class="btn btn-primary me-2">Start Streaming</button>
        <button id="stop" class="btn btn-danger" disabled>Stop Streaming</button>
    </div>
    <div id="messages" class="border p-3"></div>
{% endblock %}


{% block scripts %}
    {{block.super}}
    <script src="{% static 'js/chatbot.js' %}"></script>
{% endblock %}