{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}RoundZero{% endblock %}</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'css/interview.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container d-flex flex-column justify-content-evenly">
        <div class="col-12">
            <h1 class="text-center m-0 text-light">
                Interview with {{ company_name }} {% if job_title %}for the position of {{ job_title }}{% endif %}
            </h1>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="video-container border border-5 border-secondary">
                    <div class="video-placeholder">
                        <video class="object-fit-cover w-100 h-100" id="video-placeholder" muted loop>
                            <source src="{% static video_filename %}" type="video/webm">
                        </video>
                    </div>
                    <div class="small-video border border-5 border-secondary">
                        <video id="local-camera-preview" class="object-fit-cover w-100 h-100" autoplay playsinline></video>
                        <lottie-player id="local-camera-off" class="w-100 h-100" src="{% static 'lottie/audio_indicator.json' %}" speed="1" loop></lottie-player>
                    </div>
                </div>
            </div>
        </div>
        <div class="row control-buttons justify-content-center">
            <div class="col-auto">
                <button id="record-toggle" class="btn btn-secondary btn-icon">
                    <i class="bi bi-record-circle-fill"></i>
                </button>
            </div>
            <div class="col-auto">
                <button id="camera-toggle" class="btn btn-secondary btn-icon">
                    <i class="bi bi-camera-video-fill"></i>
                </button>
            </div>
            <div class="col-auto">
                <button id="end-interview" class="btn btn-danger btn-icon">
                    <i class="bi bi-telephone-fill"></i>
                </button>
            </div>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/chatbot.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@lottiefiles/lottie-player@2.0.12/dist/lottie-player.min.js"></script>
</body>
</html>
