{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}RoundZero{% endblock %}</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'css/interview.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <h1>Interview</h1>
    </header>

    <main>
        <div id="camera-placeholder">
            <video id="video-placeholder" loop muted></video>
            <div id="my-camera" class="my-camera">
                <video id="local-camera-preview" autoplay playsinline></video>
                <lottie-player id="local-camera-off" src="{% static 'lottie/audio_indicator.json' %}" speed="1" loop style="width: 100%; height: 100%;"></lottie-player>
            </div>
        </div>
    </main>

    <div id="controls">
        <button id="record-toggle" class="control-btn"><i class="bi bi-record-circle-fill"></i></button>
        <button id="camera-toggle" class="control-btn camera-on"><i class="bi bi-camera-video-fill"></i></button>
        <button id="end-interview" class="control-btn end-interview-btn"><i class="bi bi-telephone-fill"></i></button>
    </div>
    <script>
        const jobPostId = "{{ job_post_id }}";
        console.log(jobPostId);
    </script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/chatbot.js' %}"></script>
    <!-- Lottie -->
    <script src="https://cdn.jsdelivr.net/npm/@lottiefiles/lottie-player@2.0.12/dist/lottie-player.min.js"></script>
</body>
</html>