{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}RoundZero{% endblock %}</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'css/interview.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <h1>Interview</h1>
    </header>

    <main>
        <div id="camera-placeholder">
            <video id="video-placeholder" autoplay loop muted></video>
            <div id="my-camera" class="my-camera">
                <video id="local-camera-preview" autoplay playsinline></video>
                <span id="local-camera-off-text" style="color: #ddd;">Camera is off</span>
            </div>
        </div>
    </main>

    <div id="controls">
        <button id="start" class="control-btn"><i class="bi bi-record-circle-fill"></i></button>
        <button id="stop" class="control-btn" disabled><i class="bi bi-stop-circle-fill"></i></button>
        <button id="mic-toggle" class="control-btn mic-on"><i class="bi bi-mic-fill"></i></button>
        <button id="camera-toggle" class="control-btn camera-on"><i class="bi bi-camera-video-fill"></i></button>
        <button id="end-interview" class="control-btn end-interview-btn"><i class="bi bi-telephone-fill"></i></button>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>