{% extends "base.html" %}
{% block title %}Welcome to RoundZer0{% endblock %}
{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Welcome to RoundZer0</h1>
                <p>Your awesome job posting and chatbot platform!</p>
                <a href="{% url 'jobs' %}" class="btn btn-primary">Browse Jobs</a>
                <a href="{% url 'chatbot_index' %}" class="btn btn-secondary">Try the Chatbot</a>
            </div>
        </div>
    </div>
{% endblock %}