{% extends 'base.html' %}
{% load static %}

{% block title %}Employer Profile - {{ employer.user.username }}{% endblock %}

{% block content %}
<div class="main-content home-bg">
    <div class="container my-5">
        <h1 class="text-center mb-4 text-pbg">Employer Profile</h1>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card bordered-card">
                    {% if request.user == employer.user %}
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h2 class="fs-4 fw-bold mb-0">{{ employer.user.username }}'s Profile</h2>
                        <a href="{% url 'edit_employer_profile' %}" class="me-2" title="Edit Profile">
                            <i class="bi bi-pencil-square fs-4"></i>
                            <span class="visually-hidden">Edit Profile</span>
                        </a>
                    </div>
                    {% endif %}
                    <div class="card-body mx-3 mb-3">
                        <p class="card-text">
                            <i class="bi bi-person me-2"></i><strong>Company:</strong> {{ employer.company_name }}
                        </p>
                        <p class="card-text">
                            <i class="bi bi-envelope me-2"></i><strong>Email:</strong> {{ employer.user.email }}
                        </p>
                        {% if employer.phone %}
                            <p class="card-text">
                                <i class="bi bi-telephone me-2"></i><strong>Phone:</strong> {{ employer.phone }}
                            </p>
                        {% endif %}
                        {% if employer.company_description %}
                            <p class="card-text">
                                <i class="bi bi-info-circle me-2"></i><strong>Description:</strong> {{ employer.company_description|linebreaksbr }}
                            </p>
                        {% endif %}
                    </div>
                    <div class="card-footer text-muted">
                        Profile Last Updated: {{ employer.updated_on|date:"F d, Y" }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}