{% extends 'base.html' %}
{% load static %}

{% block title %}Candidates for {{ job.title }}{% endblock %}

{% block content %}
<div class="main-content home-bg">
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card bordered-card">
                    <div class="card-header d-flex flex-column flex-md-row justify-content-md-between align-items-end gap-2 px-2 px-md-3">
                        <h1 class="fs-4 fw-bold mb-0">Candidates Application for: {{ job.title }}</h1>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle btn-sm" type="button" id="topCandidatesDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                {% if request.GET.top_candidates == '5' %}
                                    Top 5 Candidates
                                {% elif request.GET.top_candidates == '10' %}
                                    Top 10 Candidates
                                {% elif request.GET.top_candidates == '25' %}
                                    Top 25 Candidates
                                {% else %}
                                    All Candidates
                                {% endif %}
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="topCandidatesDropdown">
                                <li><a class="dropdown-item" href="?{% for key, value in request.GET.items %}{% if key != 'top_candidates' %}{{ key }}={{ value }}&{% endif %}{% endfor %}">All Candidates</a></li>
                                <li><a class="dropdown-item" href="?top_candidates=5{% for key, value in request.GET.items %}{% if key != 'top_candidates' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Top 5 Candidates</a></li>
                                <li><a class="dropdown-item" href="?top_candidates=10{% for key, value in request.GET.items %}{% if key != 'top_candidates' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Top 10 Candidates</a></li>
                                <li><a class="dropdown-item" href="?top_candidates=25{% for key, value in request.GET.items %}{% if key != 'top_candidates' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Top 25 Candidates</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        {% if processed_feedbacks %}
                            <div class="accordion" id="feedbackAccordion">
                                {% for processed_feedback in processed_feedbacks %}
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="heading{{ processed_feedback.feedback.id }}">
                                            <button class="accordion-button collapsed fs-5"
                                                    type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#collapse{{ processed_feedback.feedback.id }}"
                                                    aria-expanded="false"
                                                    aria-controls="collapse{{ processed_feedback.feedback.id }}">
                                                <i class="bi bi-person-fill me-2"></i>
                                                {{ processed_feedback.feedback.candidate.user.first_name }} {{ processed_feedback.feedback.candidate.user.last_name }}
                                                {% if processed_feedback.feedback.overall_score is not None %}
                                                    <span class="ms-2 badge primary-bg rounded-pill">{{ processed_feedback.feedback.overall_score }}%</span>
                                                {% endif %}
                                            </button>
                                        </h2>
                                        <div id="collapse{{ processed_feedback.feedback.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ processed_feedback.feedback.id }}" data-bs-parent="#feedbackAccordion">
                                            <div class="accordion-body">
                                                <p>
                                                    <i class="bi bi-envelope me-1"></i> <strong>Email:</strong> {{ processed_feedback.feedback.candidate.user.email }}
                                                </p>
                                                <p>
                                                    <i class="bi bi-calendar-event me-1"></i> <strong>Feedback Given on:</strong> {{ processed_feedback.feedback.created_on|date:"F d, Y H:i" }}
                                                </p>
                                                <hr>
                                                <div>
                                                    <i class="bi bi-chat-dots me-1"></i> <strong>Feedback:</strong>
                                                    <div class="mt-1">
                                                        {% for item in processed_feedback.processed_feedback_text %}
                                                            <p>{{ item|safe }}</p>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                {% if processed_feedback.feedback.recommendation %}
                                                    <hr>
                                                    <p>
                                                        <i class="bi bi-hand-thumbs-up me-2"></i><strong>Recommendation:</strong> {{ processed_feedback.feedback.recommendation }}
                                                    </p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <p class="text-center">No interview feedback has been given for candidates for this job yet.</p>
                        {% endif %}
                    </div>
                    <div class="card-footer text-muted">
                        <a href="{% url 'employer_jobs' %}" class="btn btn-secondary px-4">Back to My Jobs</a>
                    </div>
                </div>
             </div>
         </div>
     </div>
 </div>
{% endblock %}