* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #303030;
}

header {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    padding: 6px 12px;
    box-shadow: 0 2px 4px #181818;

    & h1 {
        font-size: 1.5rem;
        color: white;
    }
}

main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

#camera-placeholder {
    width: 90%;
    background-color: #343a40;
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    height: 80vh;
    box-shadow: 0 3px 6px #181818;
}

#video-placeholder {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.my-camera {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 200px;
    height: 150px;
    border-radius: 12px;
    overflow: hidden;
    background-color: #343a40;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

#local-camera-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease;
}

#controls {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
}

.control-btn {
    background-color: #495057;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 1.3rem;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: #5a6268;
    }

    &.mic-off i,
    &.camera-off i {
        color: red;
    }
}

.end-interview-btn{
    background-color: #dc3545; /* redish*/
    position: relative;
    transform: rotate(135deg);

    &:hover {
        background-color: #c82333; /* Darker red */
    }
}

#record-toggle:hover {
    background-color: green;
}

.record-on {
    background-color: red;
}

