* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #212a37;
}

.container {
    height: 100vh;
    gap: 5px
}

.video-container {
    position: relative;
    background-color: #000;
    border-radius: 8px;
    overflow: hidden;
    height: 75vh;
}

.video-placeholder {
    background: #202020;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-video {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 150px;
    height: 100px;
    background: #212a37;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-buttons {
    margin-top: 0px;
}

.btn-icon {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#end-interview i {
    transform: rotate(135deg);
}

h1 {
    font-size: 120%;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 110%;
    }
}

@media screen and (min-width: 992px) {
    .small-video {
        width: 260px;
        height: 150px;
    }

    h1 {
        font-size: 180%;
    }
}

@media screen and (min-width: 1200px) {
    .small-video {
        width: 300px;
        height: 180px;
    }
}