* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #303030;
}

.container {
    height: 100vh;
    gap: 5px
}

.video-container {
    position: relative;
    background-color: #000;
    border-radius: 8px;
    overflow: hidden;
    height: 75vh;
}

.video-placeholder {
    background: #202020;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-video {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 150px;
    height: 100px;
    background: #202020;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-buttons {
    margin-top: 0px;
}

.btn-icon {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#end-interview i {
    transform: rotate(135deg);
}

@media screen and (min-width: 992px) {
    .small-video {
        width: 260px;
        height: 150px;
    }
}