body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}
footer {
    margin-top: auto; /* This will push footer to the bottom */
}
/* Remove margin from container */
.container{
    max-width: 100%;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}


.navbar {
    width: 100%;
    max-width: 100%;
}

#nav-content {
    display: flex;
    gap: 6px
}

.nav-item.dropdown {
    display: flex;
    align-items: center;
}

.nav-item.dropdown .nav-link {
    display: flex;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 25px;
}

.nav-item.dropdown .nav-link i{
    display: flex;
    align-items: center;
    font-size: 25px;
    color: white;
}


@media (max-width: 992px) {
    #nav-content {
        flex-direction: column-reverse;
        margin-top: 20px;
    }
}

