{% extends 'base.html' %}
{% load static %}

{% block title %}Interview{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>Job Openings</h1>
        <div class="row">
            {% for job in object_list %}
            <div class="col-md-6 mb-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">{{ job.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ job.company_name }}</h6>
                         <p class="card-text">
                            <i class="bi bi-geo-alt me-1"></i> Location: {{ job.location }}
                        </p>
                         <p class="card-text">
                            <i class="bi bi-briefcase me-1"></i> Type: {{ job.get_employment_type_display }}
                        </p>
                        <a href="#" class="btn btn-primary">Apply Now</a>
                    </div>
                </div>
            </div>
            {% empty %}
                <div class="col">
                    <p>No job openings currently available.</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}